PORT=<PORT>
MONGODB_URI=<mongodb connection string>
GOOGLE_CLIENT_ID= <google oauth clientID> 
GOOGLE_CLIENT_SECRET= <google oauth client secret> 






ADMIN_USERNAME=<admin name>
ADMIN_PASSWORD=<guessable password> 
CORS_ORIGIN=<frontend url> 
DB_NAME=<db-name>
SEED_VALUES=true
RAZORPAY_KEY_ID=<razor pay public key>
RAZORPAY_KEY_SECRET=<razor pay private key>
RAZORPAY_WEBHOOK_SECRET=<your webhook secret> 
RESEND_API=<resend api secret> 
ACCESSTOKEN_SECRET=<access token secret> 
ACCESSTOKEN_EXPIRY=<accesstoken expiry time> 
ADMIN_EMAIL=notadmin@admin.com
ADMIN_NUMBER="6769676967"

